/src/ThirdParty/boost/boost_1_68_0
/src/.vs
/src/build
x64
bin
obj
/src/Applications/CampLight/camplight/Resources.cpp
/src/Applications/CampLight/camplight/Resources.h
/src/Applications/CampLightWeb/app.js.map
/src/Applications/CampLightWeb/app.js
/src/CampLight.VC.VC.opendb
/src/CampLight.VC.db
/src/BBoxHttpDebug/Web/app.js.map
/src/BBoxHttpDebug/Lib/bbox/http/debug/Resources.cpp
/src/BBoxHttpDebug/Lib/bbox/http/debug/Resources.h
*.vcxproj.user
*.csproj.user
/src/Applications/MiamiNightsWeb/app.js.map
/src/Applications/MiamiNightsWeb/app.js
/src/Applications/MiamiNights/mn/Resources.cpp
/src/Applications/MiamiNights/mn/Resources.h
