[submodule "external/fadecandy"]
	path = external/fadecandy
	url = https://github.com/scanlime/fadecandy.git
[submodule "external/FastNoise"]
	path = external/FastNoise
	url = https://github.com/Auburns/FastNoise.git
