/src/ThirdParty/boost/boost_1_65_1
/src/.vs
x64
Debug
Release
bin
/src/Applications/CampLight/camplight/Resources.path
/src/Applications/CampLightWeb/app.js.map
/src/Applications/CampLightWeb/app.js
/src/CampLight.VC.VC.opendb
/src/CampLight.VC.db
/src/BBoxHttpDebug/Web/app.js
/src/BBoxHttpDebug/Web/app.js.map
/src/BBoxHttpDebug/Lib/bbox/http/debug/Resources.path
